# Ignore node_modules from the host
node_modules

# Ignore build artifacts from the host
.next

# Ignore development and build caches
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore Git files
.git
.gitignore

# Ignore local environment variables (handle these via Docker environment variables)
.env.local

# Ignore editor/IDE specific files
.vscode
.idea
